{% extends "blog/base.html" %}
{% block content %}
    <h2 class='text-center'>Islamia College Of Science and Commerce</h2>
    <h3 class='text-center text-muted'>The Worst College Ever</h3>
    <h5 class='text-primary mt-4'>Message from admin:</h5>
    <p>This site is made for entertainment purposes only. I made this site because every day in 
    ICSC is hell for me especially the Department of Computer Applications.
     Our Fee was raised from 12k to 17k and in the name of education they only give us bill to pay. 
    The classes are never on time. they waste our time everyday by waiting for classes and what we get after
    wating is the CR with the news that today there is no class literally everyday. This is one problem of our
    department. I don't what rest of the departments problems are. So you can bitch all day about ICSC here. I am 
    uploading this for testing. If you face any problems or anything feel free to mail me  <a href = "mailto: icscdarkarmy@gmail.com">here</a>
    </p>
{% endblock content %}
